<div class="box1">
    <img src="" alt="" class="NewsImg">
    <h3  class="newsHeader"></h3>
    <span class="newsDesc"></span>
        <div class="kal">
            <button class="readmore">Read More</button>
        </div>
</div>

